<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Used Car Prices" content="UK Used Car Price Predictor">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {% block scripts %}{% endblock %}
      </body>
      <section class="hero">
          <footer class="footer">
            <div class="container">
              <div class="content has-text-centered">
                <p>
                  <strong>UK Used Car Price Predictor</strong> by Amandeep Mander
                  <span class="icon is-small">
                    <i class="fa fa-copyright"></i>
                  </span>2021</a>
                </p>
                <p>
                  <a class="icon has-text-primary" href="https://github.com/amanmander123" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                  <a class="icon has-text-primary" href="https://ca.linkedin.com/in/amanmander" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </p>
              </div>
            </div>
          </footer>
        </section>
</html>
